

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(45, 45, 105);
}

#weatherForm{
    padding: 30px;

}
#weatherForm button {
    background-color: rgb(220, 114, 27);
    height: 40px;
    border: transparent solid transparent;
    width: 200px;
    border-radius: 10px;
}
#weatherForm input {
    height: 30px;
    width: 350px;
    border-radius:8px;
}
.weatherInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}