

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
  }
body {
    background-image: url(./images/night.jpg);
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(45, 45, 105);
    opacity: 0.7;
}

#weatherForm{
    padding: 30px;

}
#weatherForm button {
    background-color: rgb(220, 114, 27);
    height: 40px;
    border: transparent solid transparent;
    width: 200px;
    border-radius: 10px;
}
#weatherForm input {
    height: 30px;
    width: 350px;
    border-radius:8px;
}
#weatherForm label {
    color: #fff;
    padding: 15px;
    font-size: 20px;
}
#weatherInfo p{
   margin-bottom: 20px;
}
#weatherInfo {
    display: grid; 
    grid-column: 1fr;
    margin-left: 20px;
    border-left: 2px solid #1a1919;
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 16px;
    gap: 16px;
    place-items: center;
}
#weatherInfo div{
    color: #fff;

}
span {
    color: orange !important;
}